doctype html
html(lang='en', ng-app="collectConnect")
	head
		meta(charset="utf-8")
		title CollectConnect
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel="stylesheet" href="css/styles.css")
	body
		div.container-fluid

			div.row

				div.col-md-12.text-center

					h1.header CollectConnect
					
					//- div.recordContainer#albumContainer
					//- 	div#LP_smiths.rpm33
					//- 		img(src="/images/lp_smiths.png" border="0")
					//- 	div#EP7_william.rpm45
					//- 		img(src="/images/ep7_william.png" border="0")
					//- 	div#EP7_meat.rpm45
					//- 		img(src="/images/ep7_meat.png" border="0")
					//- 	div#EP7_irish.rpm45
					//- 		img(src="/images/ep7_irish.png" border="0")
					//- 	div#EP12_sheila.rpm45
					//- 		img(src="/images/ep12_sheila.png" border="0")

		block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.js")
		script(src="main.js")