doctype html
html(lang='en', ng-app="collectConnect")
	head
		meta(charset="utf-8")
		title CollectConnect
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel="stylesheet" href="css/styles.css")
	body
		div.container-fluid

			div.row

				iframe.col-md-12.text-center(src="frame.html" scrolling="no" height="300px")

		block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.js")
		script(src="main.js")