doctype html
html(lang='en', ng-app="collectConnect")
	head
		meta(charset="utf-8")
		title CollectConnect
		link(href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet")
		link(rel="stylesheet" href="css/styles.css")
	body
		div.container-fluid

			div.row

				iframe.col-md-12.text-center(src="frame.html" scrolling="no" height="800px")
					//- div
					//- 	h1.header CollectConnect		
					//- div#white_trnspt.rpm33
					//- 	img(src="/images/white_trnspt.png" border="0" width="45%")
					//- div#shoplifters_trnspt.rpm33
					//- 	img(src="/images/shoplifters_trnspt.png" border="0" width="55%")
					//- div#alone_trnspt.rpm33
					//- 	img(src="/images/alone_trnspt.png" border="0" width="45%")
					//- div#purple_trnspt.rpm33
					//- 	img(src="/images/purple_trnspt.png" border="0" width="45%")
					//- div#diary_trnspt.rpm33
					//- 	img(src="/images/diary_trnspt.png" border="0" width="45%")
					//- div#dolls_trnspt.rpm33
					//- 	img(src="/images/dolls_trnspt.png" border="0" width="45%")
					//- div#jfm-lp_trnspt.rpm33
					//- 	img(src="/images/jfm-lp_trnspt.png" border="0" width="45%")
					//- div#drmbt_trnspt.rpm33
					//- 	img(src="/images/drmbt_trnspt.png" border="0" width="45%")

		block content
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.js")
		script(src="main.js")