.header {
	position: relative;
	background-color: grey;
	padding: 6%;
	color: white;
	font-weight: 700;
	z-index: -1;
}

.vert {
	vertical-align: bottom;
}

.border {
	/*border-style: inset;*/
	border-color: green;
	border-radius: 7px;
}

/*################## CSS from vulgarpicture.com ##################*/

#white_trnspt {
	position: absolute;
	  margin: -80px 100px auto -280px;
	 z-index: 60;
}

#shoplifters_trnspt {
	position: absolute;
	  margin: 100px 100px 100px 700px;
	 z-index: 50;
}

#alone_trnspt {
	position: absolute;
	  margin: 50px auto auto 300px;
	 z-index: 40;
}

#purple_trnspt {
	position: absolute;
	  margin: -100px auto auto 100px;
	 z-index: 30;
}

#diary_trnspt {
	position: absolute;
	  margin: 245px auto -100px 395px;	
	 z-index: 20;
}
#dolls_trnspt {
	position: absolute;
	margin: -200px auto auto -100px;
	z-index: 10;
}

#jfm-lp_trnspt {
	position: absolute;
	margin: 50px auto auto -50px;
	z-index: 60;
}

#drmbt_trnspt {
	display: inline-block;
	position: absolute;
	margin: -150px auto auto 300px;
	z-index: 70;
}

.rpm33 {
	-webkit-transition: all 90s linear;
	   -moz-transition: all 90s ease-in-out;
	    -ms-transition: all 90s ease-out;
		 -o-transition: all 90s ease-out;
			transition: all 90s ease-out;
}
.rpm33:hover {
	-webkit-transform: rotate(11880deg);
	   -moz-transform: rotate(11880deg);
		-ms-transform: rotate(11880deg);
		 -o-transform: rotate(11880deg);	
			transform: rotate(11880deg);
}			

