.header {
	background-color: darkgrey;
	padding: 6%;
	color: white;
	font-weight: 700;
	z-index: 4;
}

.vert {
	vertical-align: bottom;
}

.border {
	/*border-style: inset;*/
	border-color: darkgrey;
	border-radius: 7px;
}

/*################## CSS from vulgarpicture.com ##################*/
#container {
	  width: 1242px;
	 height: 1242px;
	 margin: 0px 0px 0px 0px;	
	z-index: 1;
}


#white_trnspt {
	position: absolute;
	  margin: -190px auto auto -180px;
	 z-index: 13;
}

#shoplifters_trnspt {
	position: absolute;
	  margin: -190px auto auto 800px;
	 z-index: 20;
}

#alone_trnspt {
	position: absolute;
	  margin: 300px auto auto 232px;
	 z-index: 12;
}

#purple_trnspt {
	position: absolute;
	  margin: 680px auto auto 410px;
	 z-index: 25;
}

#diary_picdisc {
	position: absolute;
	  margin: 245px auto auto 395px;	
	 z-index: 11;
}

#albumContainer {
	z-index: 1;
}

/*.rpm33>img{
	width:20%;
}*/

.rpm33 {
	-webkit-transition: all 60s linear;
	   -moz-transition: all 60s ease-in-out;
	    -ms-transition: all 60s ease-out;
		 -o-transition: all 60s ease-out;
			transition: all 60s ease-out;
}
.rpm33:hover {
	-webkit-transform: rotate(11880deg);
	   -moz-transform: rotate(11880deg);
		-ms-transform: rotate(11880deg);
		 -o-transform: rotate(11880deg);	
			transform: rotate(11880deg);
}			

.rpm45 {
	-webkit-transition: all 60s linear;
	   -moz-transition: all 60s ease-in-out;
	    -ms-transition: all 60s ease-out;
		 -o-transition: all 60s ease-out;
			transition: all 60s ease-out;
}
.rpm45:hover {
	-webkit-transform: rotate(16200deg);
	   -moz-transform: rotate(16200deg);
		-ms-transform: rotate(16200deg);
		 -o-transform: rotate(16200deg);	
			transform: rotate(16200deg);
}
.rpm300 {
	-webkit-transition: all 60s linear;
	   -moz-transition: all 60s ease-in-out;
	    -ms-transition: all 60s ease-out;
		 -o-transition: all 60s ease-out;
			transition: all 60s ease-out;
}
.rpm300:hover {
	-webkit-transform: rotate(108000deg);
	   -moz-transform: rotate(108000deg);
		-ms-transform: rotate(108000deg);
		 -o-transform: rotate(108000deg);	
			transform: rotate(108000deg);
}

.recordContainer {
	position: relative;
}