.header {
	position: relative;
	height: 280px;
	width: 95%;
	background-color: grey;
	color: white;
	font-weight: 700;
	z-index: 1;
}

/*################## CSS from vulgarpicture.com ##################*/

#jfm-lp_trnspt {
	position: absolute;
	margin: -150px auto auto -9%;
	z-index: 10;
}

#purple_trnspt {
	position: absolute;
	  margin: 50px auto auto -15px;
	 z-index: 30;
}

#drmbt_trnspt {
	position: absolute;
	margin: -140px auto auto 8%;
	z-index: 20;
}

#white_trnspt {
	position: absolute;
	  margin: -120px auto auto 25%;
	 z-index: 15;
}

#shoplifters_trnspt {
	position: absolute;
	  margin: -70px 100px 100px 65%;
	 z-index: 50;
}

#alone_trnspt {
	position: absolute;
	  margin: 50px auto auto 16%;
	 z-index: 25;
}


#diary_trnspt {
	position: absolute;
	  margin: -90px auto auto 750px;	
	 z-index: 20;
}
#dolls_trnspt {
	position: absolute;
	margin: -200px auto auto 90%;
	z-index: 10;
}



#wpinoyb_trnspt {
	position: absolute;
	margin: 100px auto auto 900px;
	z-index: 80;
}

.rpm33 {
	-webkit-transition: all 90s linear;
	   -moz-transition: all 90s ease-in-out;
	    -ms-transition: all 90s ease-out;
		 -o-transition: all 90s ease-out;
			transition: all 90s ease-out;
}
.rpm33:hover {
	-webkit-transform: rotate(11880deg);
	   -moz-transform: rotate(11880deg);
		-ms-transform: rotate(11880deg);
		 -o-transform: rotate(11880deg);	
			transform: rotate(11880deg);
}			

