extends ../layout

block content

	div(class="container-fluid")

		div(class="row")

			div(class="col-md-12 text-center")

				h2 Collect

		div(class="row")

			div(class="col-md-12 text-center")

				h2 Connect

		div(class="row")

			div(class="col-md-4")

			div(class="col-md-4")

				form(ng-submit="")
					h3 Enter artist name, album title or both.
					div
						input(placeholder="Artist Name")
					div
						input(placeholder="Album Title")
					div
						input(type="submit")

			div(class="col-md-4")