extends ../layout

block content

	form(ng-submit="")
		h3 Enter artist name, album title or both.
		div
			input(placeholder="Artist Name")
		div
			input(placeholder="Album Title")
		div
			input(type="submit")