div.container-fluid

	div.albumContainer.shadow(ng-repeat="album in profile | limitTo: 1: page")

		div.row

			div.col-md-6.text-center.stage
				h3 Artist:
					p
						h4 {{album.artist}}

			div.col-md-6.text-center.stage
				h3 Album:
					p
						h4 {{album.title}}

		div.row

			div.col-md-4.text-center.border
				h4 Tracks:
					p
						h5 {{albums.tracks}}
			div.col-md-4.text-center.border
				h4 Personnel:
					p
						h5 {{album.person}}
			div.col-md-4.text-center.border
				h4 Label:
					p
						h5 {{album.label}}
				br
				h4 Year:
					p
						h5 {{album.year}}

		div

			button.btn.btn-default.btn-md.button(ng-click="prevRecord()") Prev
			button.btn.btn-default.btn-md.button(ng-click="nextRecord()") Next