div.container-fluid

	div.row

		div.col-md-6.text-center.stage
			h3 Artist

		div.col-md-6.text-center.stage
			h3 Album

	div.row

		div.col-md-4.text-center.border
			h4 Tracks
		div.col-md-4.text-center.border
			h4 Personnel
		div.col-md-4.text-center.border
			h4 Label
			br
			h4 Year