div(class="container-fluid")

	div(class="row")

		div(class="col-md-12 text-center input-group input-group-md stage center-block")

			form(ng-submit="")
				h3 Enter the Personnel.
				br
				h4 Click the Add button to add another, or the Next button to continue.
				div(class="col-md-3")
				div(class="col-md-6")
					input(class="form-control text-center input" placeholder="Personnel")
				div(class="col-md-3")
				div(class="col-md-12")
					button.btn.btn-default.btn-md.button(type='button') Add
					button.btn.btn-default.btn-md.button(type='button') Next