div(class="container-fluid")

	div(class="row")

		div(class="col-md-6 text-center stage")
			h3 Artist

		div(class="col-md-6 text-center stage")
			h3 Album

	div(class="row")

		div(class="col-md-4 text-center")
			h3 test
		div(class="col-md-4 text-center")
			h3 test
		div(class="col-md-4 text-center")
			h3 test